.road {
    background-color: grey;
    width: 500px;
    height: 130px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    border: 2px dotted #fff;
}

.car1, .car2 {
    transition: 3s ease;
} 