body {
    margin: 0;
}


div{
    width: 200px;
    height: 200px;
    font-size: 35px;
    color: #fff;
}

#block-1 {
    background-color: red;
    margin: 20px  ;
}

#block-2 {
    background-color: blue;
}